In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = pd.read_csv("social_media_ads.csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [14]:
df.shape

(400, 5)

In [15]:
df = df.drop('User ID',axis=1)

In [16]:
df

     Gender  Age  EstimatedSalary  Purchased
0      Male   19            19000          0
1      Male   35            20000          0
2    Female   26            43000          0
3    Female   27            57000          0
4      Male   19            76000          0
..      ...  ...              ...        ...
395  Female   46            41000          1
396    Male   51            23000          1
397  Female   50            20000          1
398    Male   36            33000          0
399  Female   49            36000          1

[400 rows x 4 columns]

In [19]:
df['Gender'] = df['Gender'].replace({'Male':1,'Female':0})

In [20]:
df

     Gender  Age  EstimatedSalary  Purchased
0         1   19            19000          0
1         1   35            20000          0
2         0   26            43000          0
3         0   27            57000          0
4         1   19            76000          0
..      ...  ...              ...        ...
395       0   46            41000          1
396       1   51            23000          1
397       0   50            20000          1
398       1   36            33000          0
399       0   49            36000          1

[400 rows x 4 columns]

In [23]:
X = df.drop('Purchased',axis=1)
Y = df['Purchased']

In [24]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.3, random_state=42)

In [26]:
x_train.shape

(280, 3)

In [27]:
x_test.shape

(120, 3)

In [28]:
x_train

     Gender  Age  EstimatedSalary
157       1   29            75000
109       0   38            80000
17        1   45            26000
347       0   54           108000
24        1   46            23000
..      ...  ...              ...
71        0   24            27000
106       0   26            35000
270       0   43           133000
348       1   39            77000
102       0   32            86000

[280 rows x 3 columns]

In [34]:
from sklearn.preprocessing import StandardScaler
scaler_obj = StandardScaler()

In [38]:
x_train_scaled = scaler_obj.fit_transform(x_train)
x_test_scaled = scaler_obj.fit_transform(x_test)

In [39]:
x_train_scaled

array([[ 1.02166316, -0.84252154,  0.1301563 ],
       [-0.97879618,  0.04175763,  0.2777019 ],
       [ 1.02166316,  0.72953032, -1.31579061],
       [-0.97879618,  1.61380949,  1.10395728],
       [ 1.02166316,  0.82778356, -1.40431797],
       [-0.97879618, -1.43204099, -1.25677236],
       [ 1.02166316, -0.05649561,  0.1301563 ],
       [ 1.02166316,  0.43477059, -0.16493491],
       [-0.97879618, -0.2530021 ,  0.01211982],
       [-0.97879618,  1.31904976,  2.22530386],
       [ 1.02166316,  0.14001087,  0.74984783],
       [-0.97879618, -1.33378775,  0.54328399],
       [-0.97879618,  2.00682245,  0.72033871],
       [ 1.02166316, -1.23553451, -1.43382709],
       [ 1.02166316,  0.33651735, -0.34198963],
       [ 1.02166316, -0.94077478,  0.54328399],
       [-0.97879618,  0.43477059,  0.2777019 ],
       [-0.97879618,  0.43477059,  1.10395728],
       [-0.97879618,  0.82778356,  0.74984783],
       [-0.97879618,  0.9260368 ,  1.25150288],
       [-0.97879618, -0.44950858, -1.25677236],
       [ 1.02166316, -1.82505395, -1.34529973],
       [ 1.02166316,  1.12254328,  0.54328399],
       [-0.97879618, -0.64601506, -1.64039093],
       [-0.97879618, -0.7442683 ,  0.24819278],
       [ 1.02166316,  1.02429004,  2.07775825],
       [-0.97879618, -0.54776182,  1.36953936],
       [-0.97879618, -0.05649561,  0.01211982],
       [-0.97879618, -1.9233072 ,  0.45475663],
       [-0.97879618,  0.43477059,  0.24819278],
       [-0.97879618, -1.03902802,  0.39573838],
       [ 1.02166316,  0.23826411, -0.16493491],
       [ 1.02166316,  1.90856921,  0.10064718],
       [-0.97879618, -1.13728127, -1.64039093],
       [-0.97879618, -1.13728127,  0.2777019 ],
       [ 1.02166316, -0.84252154, -0.81413556],
       [-0.97879618, -0.44950858,  2.31383122],
       [ 1.02166316,  0.14001087, -0.84364468],
       [-0.97879618,  1.61380949,  0.98592079],
       [ 1.02166316, -0.15474885, -1.10922676],
       [-0.97879618,  0.82778356, -1.13873588],
       [-0.97879618,  0.23826411,  2.10726737],
       [-0.97879618, -0.05649561, -0.25346227],
       [ 1.02166316, -0.84252154,  2.2843221 ],
       [-0.97879618, -0.05649561, -0.40100787],
       [ 1.02166316, -0.2530021 , -0.60757171],
       [-0.97879618,  0.43477059, -0.51904435],
       [ 1.02166316, -0.2530021 , -0.96168116],
       [-0.97879618,  0.33651735, -1.19775412],
       [-0.97879618,  0.23826411,  0.04162894],
       [ 1.02166316, -1.13728127, -1.64039093],
       [-0.97879618, -0.64601506, -0.07640754],
       [ 1.02166316, -0.2530021 , -0.51904435],
       [-0.97879618, -0.2530021 , -1.34529973],
       [ 1.02166316, -0.7442683 ,  0.54328399],
       [ 1.02166316,  0.33651735,  0.04162894],
       [ 1.02166316, -0.94077478,  1.54659408],
       [-0.97879618,  0.82778356,  0.33672014],
       [-0.97879618, -1.53029423, -0.22395315],
       [-0.97879618,  0.72953032, -1.43382709],
       [ 1.02166316, -0.7442683 , -0.63708083],
       [-0.97879618, -0.35125534, -1.34529973],
       [-0.97879618,  0.23826411,  0.1301563 ],
       [-0.97879618, -0.54776182,  1.36953936],
       [-0.97879618, -1.43204099,  0.33672014],
       [ 1.02166316, -1.13728127,  0.2777019 ],
       [-0.97879618,  1.02429004,  1.78266705],
       [ 1.02166316,  2.10507569,  2.13677649],
       [ 1.02166316, -0.2530021 , -0.46002611],
       [ 1.02166316, -0.35125534, -0.81413556],
       [-0.97879618,  0.14001087, -0.28297139],
       [-0.97879618, -1.03902802,  0.74984783],
       [ 1.02166316,  2.20332893,  0.36622926],
       [ 1.02166316, -1.33378775, -0.46002611],
       [ 1.02166316,  2.00682245,  2.16628562],
       [-0.97879618,  1.51555624,  0.98592079],
       [ 1.02166316, -0.2530021 ,  0.24819278],
       [ 1.02166316, -0.15474885,  0.83837519],
       [ 1.02166316,  1.90856921, -0.31248051],
       [-0.97879618, -0.05649561,  1.95972177],
       [ 1.02166316, -0.44950858, -0.81413556],
       [-0.97879618,  0.33651735,  0.01211982],
       [-0.97879618,  1.417303  , -1.46333621],
       [ 1.02166316,  1.417303  ,  2.34334034],
       [ 1.02166316, -0.05649561, -0.0173893 ],
       [-0.97879618, -1.13728127,  0.39573838],
       [-0.97879618, -1.13728127,  0.04162894],
       [-0.97879618, -1.13728127, -0.54855347],
       [-0.97879618,  0.33651735, -0.31248051],
       [ 1.02166316, -0.64601506, -0.13542579],
       [ 1.02166316, -0.05649561,  2.16628562],
       [ 1.02166316,  0.04175763, -0.28297139],
       [-0.97879618, -0.64601506, -1.07971764],
       [-0.97879618,  0.43477059,  0.1301563 ],
       [ 1.02166316,  0.82778356,  1.36953936],
       [ 1.02166316, -0.15474885, -0.54855347],
       [ 1.02166316,  0.04175763,  0.01211982],
       [ 1.02166316,  1.12254328,  0.51377487],
       [-0.97879618,  1.90856921, -1.10922676],
       [-0.97879618,  1.02429004,  1.98923089],
       [-0.97879618,  0.9260368 , -0.60757171],
       [-0.97879618, -0.44950858, -0.04689842],
       [-0.97879618, -0.05649561,  2.22530386],
       [-0.97879618, -1.72680071,  0.33672014],
       [ 1.02166316,  0.23826411, -0.69609908],
       [ 1.02166316, -0.2530021 , -1.43382709],
       [-0.97879618, -1.72680071, -1.0206994 ],
       [-0.97879618,  0.72953032, -0.75511732],
       [-0.97879618, -1.13728127, -0.81413556],
       [-0.97879618,  2.00682245,  0.89739343],
       [ 1.02166316,  0.23826411, -0.40100787],
       [-0.97879618,  0.04175763,  1.22199376],
       [-0.97879618, -0.05649561,  0.2777019 ],
       [ 1.02166316,  1.12254328, -1.25677236],
       [-0.97879618, -0.15474885,  0.1301563 ],
       [-0.97879618,  0.33651735,  0.04162894],
       [-0.97879618, -0.2530021 , -0.31248051],
       [ 1.02166316,  0.53302383,  1.72364881],
       [ 1.02166316,  0.33651735,  0.48426575],
       [-0.97879618,  0.04175763,  1.25150288],
       [-0.97879618,  2.00682245, -1.40431797],
       [ 1.02166316, -1.13728127, -1.13873588],
       [ 1.02166316, -0.54776182, -1.55186357],
       [ 1.02166316,  0.33651735, -0.54855347],
       [ 1.02166316, -0.64601506, -1.55186357],
       [ 1.02166316, -0.2530021 ,  0.51377487],
       [-0.97879618,  1.02429004, -1.05020852],
       [ 1.02166316, -1.03902802,  0.54328399],
       [-0.97879618, -0.2530021 ,  0.77935695],
       [ 1.02166316,  0.43477059,  0.07113806],
       [-0.97879618, -1.62854747, -0.07640754],
       [-0.97879618,  0.33651735,  0.04162894],
       [-0.97879618, -0.44950858, -0.31248051],
       [ 1.02166316,  0.14001087,  1.87119441],
       [-0.97879618, -0.94077478,  0.39573838],
       [ 1.02166316,  0.82778356,  0.51377487],
       [ 1.02166316, -1.33378775, -0.37149875],
       [-0.97879618, -0.64601506,  1.39904848],
       [-0.97879618,  1.22079652,  0.51377487],
       [-0.97879618, -1.72680071,  0.33672014],
       [-0.97879618, -0.54776182,  1.90070353],
       [ 1.02166316, -1.72680071,  0.45475663],
       [ 1.02166316, -0.2530021 , -1.28628149],
       [ 1.02166316, -0.84252154, -0.81413556],
       [ 1.02166316, -1.62854747,  0.51377487],
       [ 1.02166316, -0.2530021 , -0.34198963],
       [ 1.02166316,  0.72953032, -1.13873588],
       [ 1.02166316,  2.20332893, -0.84364468],
       [ 1.02166316, -0.2530021 ,  0.60230223],
       [-0.97879618, -0.2530021 , -0.78462644],
       [-0.97879618, -1.9233072 , -0.78462644],
       [ 1.02166316,  0.43477059,  2.31383122],
       [ 1.02166316,  0.72953032,  0.24819278],
       [-0.97879618,  0.23826411, -0.31248051],
       [ 1.02166316, -1.33378775, -1.40431797],
       [-0.97879618, -0.44950858, -0.57806259],
       [-0.97879618,  0.43477059, -0.0173893 ],
       [-0.97879618,  1.71206273,  1.75315793],
       [-0.97879618,  1.22079652, -0.78462644],
       [-0.97879618,  1.02429004,  1.4285576 ],
       [ 1.02166316, -1.82505395,  0.15966542],
       [-0.97879618,  0.33651735,  0.04162894],
       [ 1.02166316,  0.23826411,  0.01211982],
       [ 1.02166316, -1.03902802,  0.51377487],
       [-0.97879618, -0.15474885,  1.63512145],
       [ 1.02166316, -0.2530021 ,  0.1301563 ],
       [ 1.02166316, -0.2530021 , -0.37149875],
       [ 1.02166316, -0.35125534,  1.31052112],
       [ 1.02166316, -0.2530021 ,  0.07113806],
       [-0.97879618,  2.20332893,  1.10395728],
       [ 1.02166316, -1.23553451,  0.48426575],
       [-0.97879618, -1.03902802, -0.48953523],
       [-0.97879618, -1.62854747, -1.61088181],
       [ 1.02166316, -0.05649561,  0.10064718],
       [ 1.02166316, -0.2530021 , -0.93217204],
       [ 1.02166316,  1.61380949, -0.0173893 ],
       [-0.97879618,  0.9260368 , -1.19775412],
       [-0.97879618,  0.04175763, -0.60757171],
       [-0.97879618, -0.2530021 ,  2.25481298],
       [-0.97879618, -0.2530021 ,  0.18917454],
       [ 1.02166316,  0.33651735,  0.24819278],
       [-0.97879618, -0.05649561, -1.10922676],
       [-0.97879618,  2.20332893, -0.7256082 ],
       [-0.97879618, -0.94077478, -0.34198963],
       [-0.97879618, -1.43204099, -0.13542579],
       [ 1.02166316, -1.43204099, -0.22395315],
       [ 1.02166316, -0.7442683 , -1.58137269],
       [ 1.02166316, -1.23553451, -1.10922676],
       [-0.97879618,  2.10507569,  0.36622926],
       [-0.97879618,  2.00682245, -0.96168116],
       [ 1.02166316, -1.9233072 ,  0.33672014],
       [ 1.02166316,  0.82778356, -0.34198963],
       [-0.97879618, -1.03902802, -1.58137269],
       [-0.97879618,  2.00682245, -0.69609908],
       [-0.97879618,  1.02429004, -1.19775412],
       [ 1.02166316,  1.12254328, -0.16493491],
       [-0.97879618,  1.22079652, -1.0206994 ],
       [ 1.02166316,  1.51555624,  0.04162894],
       [ 1.02166316,  0.23826411, -0.40100787],
       [-0.97879618,  1.417303  ,  1.281012  ],
       [-0.97879618,  2.10507569, -0.84364468],
       [-0.97879618, -0.15474885, -0.22395315],
       [ 1.02166316,  0.43477059,  0.98592079],
       [ 1.02166316, -0.05649561, -0.54855347],
       [ 1.02166316,  1.02429004, -1.10922676],
       [-0.97879618,  2.10507569, -1.22726324],
       [ 1.02166316, -0.05649561,  0.24819278],
       [ 1.02166316,  0.23826411, -0.28297139],
       [ 1.02166316,  1.12254328,  0.10064718],
       [ 1.02166316, -1.23553451,  0.57279311],
       [ 1.02166316, -0.7442683 , -1.64039093],
       [ 1.02166316,  0.23826411,  0.21868366],
       [ 1.02166316, -1.33378775,  0.39573838],
       [-0.97879618,  0.04175763, -0.60757171],
       [-0.97879618,  0.72953032,  1.78266705],
       [ 1.02166316, -1.62854747,  0.04162894],
       [-0.97879618, -0.2530021 , -1.40431797],
       [ 1.02166316, -0.2530021 , -1.49284533],
       [-0.97879618, -0.64601506,  0.54328399],
       [ 1.02166316, -0.7442683 ,  0.2777019 ],
       [-0.97879618,  0.9260368 , -0.69609908],
       [ 1.02166316, -1.03902802,  0.57279311],
       [-0.97879618, -0.2530021 ,  0.04162894],
       [-0.97879618, -0.7442683 ,  1.34003024],
       [ 1.02166316,  0.14001087,  1.51708496],
       [-0.97879618, -0.84252154,  0.36622926],
       [-0.97879618,  0.33651735, -0.22395315],
       [ 1.02166316,  1.02429004,  0.57279311],
       [ 1.02166316,  0.04175763, -0.34198963],
       [ 1.02166316, -0.54776182, -1.55186357],
       [-0.97879618,  0.14001087,  0.1301563 ],
       [ 1.02166316, -1.13728127,  0.30721102],
       [ 1.02166316,  0.14001087,  1.04493904],
       [-0.97879618, -1.53029423, -0.46002611],
       [ 1.02166316, -0.15474885,  1.39904848],
       [ 1.02166316,  2.20332893, -0.84364468],
       [-0.97879618, -0.94077478, -0.46002611],
       [-0.97879618,  1.31904976,  1.87119441],
       [ 1.02166316,  1.12254328, -1.25677236],
       [ 1.02166316, -0.15474885, -0.31248051],
       [-0.97879618,  1.81031597,  0.98592079],
       [-0.97879618, -1.03902802, -0.37149875],
       [-0.97879618, -1.33378775, -1.13873588],
       [-0.97879618, -0.35125534,  0.04162894],
       [ 1.02166316, -0.94077478, -1.13873588],
       [-0.97879618,  1.22079652, -1.49284533],
       [-0.97879618, -0.44950858, -0.8731538 ],
       [-0.97879618, -0.84252154, -0.69609908],
       [ 1.02166316, -1.53029423, -1.55186357],
       [ 1.02166316, -0.7442683 ,  1.90070353],
       [ 1.02166316,  0.9260368 ,  1.01542992],
       [ 1.02166316,  0.82778356,  0.24819278],
       [-0.97879618,  1.02429004,  1.87119441],
       [-0.97879618,  0.9260368 , -0.63708083],
       [-0.97879618,  1.12254328,  2.07775825],
       [ 1.02166316, -0.54776182,  0.86788431],
       [ 1.02166316,  0.04175763,  0.01211982],
       [-0.97879618, -1.82505395, -1.31579061],
       [ 1.02166316, -0.05649561,  0.18917454],
       [-0.97879618,  0.9260368 , -0.57806259],
       [ 1.02166316,  0.23826411, -0.40100787],
       [ 1.02166316, -0.15474885,  1.60561233],
       [ 1.02166316, -1.72680071,  0.10064718],
       [ 1.02166316, -0.64601506, -0.37149875],
       [ 1.02166316,  0.33651735, -0.75511732],
       [ 1.02166316,  0.43477059, -0.48953523],
       [-0.97879618, -0.94077478, -0.99119028],
       [-0.97879618,  0.14001087,  0.07113806],
       [-0.97879618, -0.94077478,  0.4252475 ],
       [ 1.02166316,  0.04175763, -0.57806259],
       [ 1.02166316,  0.9260368 , -0.81413556],
       [ 1.02166316, -0.05649561,  0.04162894],
       [-0.97879618,  1.12254328, -1.0206994 ],
       [ 1.02166316,  0.72953032, -1.43382709],
       [ 1.02166316, -0.2530021 ,  0.04162894],
       [-0.97879618, -1.33378775, -1.28628149],
       [-0.97879618, -1.13728127, -1.05020852],
       [-0.97879618,  0.53302383,  1.84168529],
       [ 1.02166316,  0.14001087,  0.18917454],
       [-0.97879618, -0.54776182,  0.45475663]])

In [43]:
x_train_df = pd.DataFrame(data=x_train_scaled,columns=x_train.columns)
x_test_df = pd.DataFrame(data=x_test_scaled,columns=x_test.columns)

In [46]:
np.round(x_train_df.describe(),2)

       Gender     Age  EstimatedSalary
count  280.00  280.00           280.00
mean     0.00   -0.00             0.00
std      1.00    1.00             1.00
min     -0.98   -1.92            -1.64
25%     -0.98   -0.74            -0.78
50%     -0.98   -0.06             0.01
75%      1.02    0.73             0.51
max      1.02    2.20             2.34

In [47]:
np.round(x_test_df.describe(),2)

       Gender     Age  EstimatedSalary
count  120.00  120.00           120.00
mean     0.00   -0.00            -0.00
std      1.00    1.00             1.00
min     -0.98   -1.78            -1.51
25%     -0.98   -0.82            -0.79
50%     -0.98   -0.08            -0.14
75%      1.02    0.82             0.53
max      1.02    1.99             2.39